/* body{
    background-color: white;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
  } */
  /* border: solid blue 1px; */
  
  section{
    margin : 0 auto;
    padding: 0;
    width: 400px;
    /* background-color: aqua; */
  }
  
  .head-1{
    
    padding:15px 0 15px 0;
    width: 100%;
    background-color:rgb(235, 180, 51);
    color: white;
  }
  
  .form-card{
     width: 400px;
     padding:0;
     margin: 0 auto; 
     /* border: solid blue 1px; */
      position: relative;
  }
  
  .form-card form{
    margin-top: 30px;
    padding: 10px 0 30px 20px;
    border: white;
    border-radius: 10px;
    text-align: left;
    box-shadow: 1px 5px 8px grey
    
    /* border: solid red 1px; */
  
  }
  
  /* .form-card ul{
    list-style: none;
    border: solid blue 1px;
    padding: 10px; */
  
  .Q-card{
   padding:10px 0 0 10px;
   font-size: 1.2em;
   margin: 0;
   
   /* border: solid blue 1px; */
  }
   button{
     font-size: 15px;
     font-weight: bold;
     background-color:rgb(0, 81, 255);
     border: none;
     color: white;
     border-radius: 5px;
     padding: 15px;
     text-align: center;
     text-decoration: none;
     display: inline;
     cursor: pointer;
     transition: background-color 0.4s;
   }
   .options-card{
     display: flex;
     flex-direction: column;
     justify-content: left;
     /* border: solid blue 1px; */
  
   }
  
   .options{
     border: solid orange 1px;
     padding: 12px 0 12px 0;
     margin: 4px 0 4px 0;
     border-radius: 5px;
     display: flex;
     flex-direction: row;
     justify-content: left;
     align-content:center;
     width: 360px;
   }
  
   .options:hover{
     background-color: orange;
   }
  
  
  .options p{
    padding: 0 0 0 20px;
    margin: 0;
    
    
  }

  
  
  .s-button{
    padding:12px;
    margin: 0;
    /* border: solid blue 1px; */
  }
 
  